header {
	background-color: #ff0000;
    margin:20px;
	padding: 20px;
	text-align: center;
}

main {
	margin: 20px;
}

img {
	display: block;
	margin: 20px auto;
	max-width: 100%;
	height: auto;
	border: 1px solid #ddd;
}